name: Build Android APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            python3-virtualenv \
            python3-dev \
            build-essential \
            git \
            zip \
            unzip \
            openjdk-17-jdk \
            autoconf \
            automake \
            libtool \
            pkg-config \
            zlib1g-dev \
            libncurses5-dev \
            libffi-dev \
            libssl-dev \
            libsqlite3-dev \
            curl

      - name: Create Python virtualenv
        run: |
          python3 -m venv venv
          echo "VENVPATH=$(pwd)/venv/bin" >> $GITHUB_ENV

      - name: Activate virtualenv and upgrade pip
        run: |
          source $VENVPATH/activate
          pip install --upgrade pip setuptools wheel Cython

      - name: Install Python requirements
        run: |
          source $VENVPATH/activate
          pip install kivy==2.3.0 kivymd gspread google-auth plyer pyjnius buildozer

      - name: Build Android APK
        run: |
          source $VENVPATH/activate
          buildozer android debug
