name: Build APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y python3-pip python3-setuptools openjdk-11-jdk zip unzip git wget

        # Instalar distutils para Python 3.12
        wget https://bootstrap.pypa.io/get-pip.py
        python3 get-pip.py
        python3 -m pip install setuptools wheel

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install cython==0.29.36
        pip install buildozer

    - name: Build APK
      run: |
        cd PyCharmMiscProject
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: FichajeApp-apk
        path: PyCharmMiscProject/bin/*.apk
